{% extends "templates/main.html" %}

{% block pageTitle %}
    Qur'an Memorisation Tool
{% endblock %}

{% block content %}
    <!-- Dashboard Section -->
    <div class="index-page">
        <h3> Dashboard </h3>

        <!-- View Surahs Button -->
        <p>
            <a href="/surahs" class="btn btn-primary text-white">View Surahs</a>
        </p>

        <!-- Navigate to Friends Section -->
        <p>
            <a href="/friends" class="btn btn-success text-white">Friends</a>
        </p>
    </div>
{% endblock %}
