{% extends "templates/main.html" %}

{% block pageTitle %}Surah List{% endblock %}

{% block content %}
<div class="container">
    <h2>Surahs</h2>
    <ul class="list-group">
        {% for surah in surahs %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <span>
                <strong>{{ surah.surahNameEnglish }}</strong> ({{ surah.surahNameArabic }})
            </span>
            <span>
                {% if surah.surahId in memorizedSurahs %}
                    <span class="text-success">&#10004;</span>  <!-- ✔ Green Check if memorized -->
                {% else %}
                    <span class="text-danger">&#10008;</span>  <!-- ✖ Red X if not memorized -->
                {% endif %}
            </span>
            <a href="/surah/{{ surah.surahId }}" class="btn btn-primary">View</a>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
